<% include partials/header %>
   <div height="5" style="padding-top: .5%; padding-bottom: .5%;">
	        <div class="container" style="background-color: #ee7600; border-radius: 25px;"> 
	            LATEST! <!-- < % an href with a title of what ever new blog is posetd %> -->
	        </div>
	    </div>

        <div style="width:60%; margin: 25px auto;">
            <div class="container" >
                <form action="/" style="margin: 25px auto;">
                    <div class="container border border-secondary" style="background: white;">
                        <div class="form-group" style="padding-top: 5%;">
                            <input class="form-control" type="text" name="username" placeholder="USERNAME" required autocomplete="off">
                        </div>
                        <div class="form-group" style="padding-bottom: 2%;">
                            <input class="form-control" type="password" name="password" placeholder="PASSWORD" required autocomplete="off">    
                        </div>
                        <div class="container" style="padding-bottom: 2%;">
                            <button class>Login</button>
                        </div>
                    </div>
                </form>
                <h4> NEW? <a href="/register">REGISTER!</a> </h4>
            </div>
        </div>
<% include partials/footer %>